#section0{
		background-color:rgba(255, 153, 153, 1);

		}

#section0 h1{
		left:35%;
		top:30%;
		color: #fff;
		font-family:'Arial Normal', 'Arial'; 
  		font-size:80px;
		position: absolute;
}


#section1{
  background-color:rgba(204, 153, 204, 1);
	}

img.denglun{
	height: 328px;
	width: 252px;
	position: absolute;
	transform: translateX(-150%);
	top:4%;
}
#section1 p1{
		top: 04%;
	transform: translateX(-10%);
		font-family:'Arial Narrow Bold', 'Arial Narrow', 'Arial';
  		font-size:40px;
	font-weight:bold;
	text-align:left;
	  color:#FFFFFF;
		position: absolute;
}

img.tag1{
	height: 52px;
	width: 130px;
	position: absolute;
	top: 30%;
	left:5%;
}
#section1 p2{
	top: 30%;
	left:6%;
  font-family:'Arial Narrow Italic', 'Arial Narrow', 'Arial'; 
	  	font-size:28px;
	text-align:left;
	  color:#FFFFFF;

		position: absolute;
}
#section1 p5{
	top: 35%;
	left:6%;
  font-family:'Arial Narrow Italic', 'Arial Narrow', 'Arial'; 
	overflow: hidden;
	  	font-size:26px;
	text-align:left;
	  color:#FFFFFF;
		position: absolute;
}

img.tag2{
	height: 52px;
	width: 130px;
	position: absolute;
	top: 45%;
	left:5%;
}
#section1 p3{
	top: 45%;
	left:6%;

  font-family:'Arial Narrow Italic', 'Arial Narrow', 'Arial'; 
	  	font-size:28px;
	
	text-align:left;
	  color:#FFFFFF;

		position: absolute;
}
#section1 p6{
	top: 49%;
	left:6%;

  font-family:'Arial Narrow Italic', 'Arial Narrow', 'Arial'; 

	  	font-size:26px;
	text-align:left;
	  color:#FFFFFF;

		position: absolute;
}

img.tag3{
	height: 52px;
	width: 130px;
	position: absolute;
	top: 63%;
left:5%;
}
#section1 p4{
	top: 63%;
	left:6%;

  font-family:'Arial Narrow Italic', 'Arial Narrow', 'Arial'; 
	  	font-size:28px;
	
	text-align:left;
	  color:#FFFFFF;

		position: absolute;
}
img.tag4{
	height: 168px;
	width: 160px;
	position: absolute;
	top: 70%;
	left:10%;
}
img.tag5{
	height: 168px;
	width: 160px;
	position: absolute;
	top: 70%;
	left:36%;
}
img.tag6{
	height: 168px;
	width: 160px;
	position: absolute;
	top: 70%;
	left:62%;
}
		#section2{
  background-color:rgba(0, 178, 178, 1);
	}

#section2 h1{
		top: 02%;
	transform: translateX(100%);
		font-family:'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight:bold;
	color: #fff;
  		font-size:80px;
		position: absolute;
}
img.yiqian{
	height: 295px;
	width: 490px;
	position: absolute;
	top: 15%;
	left:5%;
}
#section2 h2{
		top: 33%;
	left:5%;
			font-family:'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight:bold;
  		font-size:29px;
	color: #fff;
		position: absolute;
}
#section2 p1{
		top: 39%;
	left:5%;
		font-family:'Arial Negreta', 'Arial Normal', 'Arial';
	
  		font-size:24px;
	color: #fff;
	text-align:left;
		position: absolute;
}
img.xiangmi{
	height: 295px;
	width: 490px;
	position: absolute;
	top: 49%;
	left:5%;
}
#section2 h3{
		top: 66%;
	left:5%;
			font-family:'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight:bold;
  		font-size:29px;
	color: #fff;
		position: absolute;
}
#section2 p2{
		top: 73%;
	left:5%;
		font-family:'Arial Negreta', 'Arial Normal', 'Arial';
	
  		font-size:24px;
	color: #fff;
	text-align:left;
		position: absolute;
}
			#section3{
  background-color:rgba(255, 204, 153, 1);
	}
img.xingqu{
	height: 710px;
	width: 718px;
	position: absolute;
	top: 28%;
	left:11%;
}
#section3 h1{
	color: #FFFFFF;
	font-family:'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight:bold;
		top: 48%;
	left:43%;
			
	
  		font-size:42px;
	
		position: absolute;
}
img.book{
	height: 210px;
	width: 210px;
	position: absolute;
	top: 22%;
	left:18%;
}
img.horse{
	height: 210px;
	width: 210px;
	position: absolute;
	top: 20%;
	right:5%;
}
img.run{
	height: 210px;
	width: 210px;
	position: absolute;
	top: 60%;
	left:6%;
}
img.music{
	height: 210px;
	width: 210px;
	position: absolute;
	top: 68%;
	right:12%;
}
			#section4{
  background-color:rgba(153, 102, 102, 1);


	}

#section4 h1{
    color: #fff;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: bold;
    top: 20%;
    left: 35%;
    border-style: solid;
    border-color: #fff;
    border-radius: 150px;
    font-size: 44px;
    position: absolute;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
img.qq{
	height: 100px;
	width: 100px;
	position: absolute;
	top: 50%;
	left:30%;
}
img.wechat{
	height: 100px;
	width: 100px;
	position: absolute;
	top: 58%;
	left:30%;
}
img.weibo{
	height: 100px;
	width: 100px;
	position: absolute;
	top: 66%;
	left:30%;
}
img.google{
	height: 100px;
	width: 100px;
	position: absolute;
	top: 75%;
	left:30%;
}
#section4 p1{
	color: #fff;
	top: 51%;
	left:43%;
	font-size:36px;
	position: absolute;
}
#section4 p2{
	color: #fff;
	top: 59%;
	left:43%;
	font-size:36px;
	position: absolute;
}
#section4 p3{
	color: #fff;
	top: 67%;
	left:43%;
	font-size:36px;
	position: absolute;
}
#section4 p4{
	color: #fff;
	top: 75%;
	left:43%;
	font-size:36px;
	position: absolute;
}

.appear{
	animation-name: appear;
	animation-duration: 1s;
	
	-webkit-animation-name: appear;
	-webkit-animation-duration: 1s;
}

@keyframes appear{
  color: #ccff66;
}

@-webkit-keyframes appear{
  color: #ccff66;
}