*{
    padding:0px;
    margin:0;
}
body{ 
    color:#fff; 
    font-family:"Microsoft Yahei"; 
    text-align:center;
}

.page3Header{
    font-size: 3em;
    margin-bottom: 1em;
}

.page3Container{
    width: 1200px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
}

.page3Img1{

width: 450px;

height: 325px;

float: left;

box-sizing: border-box;

padding: 30px 20px;
}

.page3Text1{

width: 750px;

height: 325px;

float: left;

text-align: left;

font-size: 18px;

box-sizing: border-box;

padding-top: 100px;

padding-left: 100px;

padding-right: 50px;
}

.page3Text1Title{
    
font-size: 30px;
}

.page3Text2{

width: 750px;

height: 325px;

float: left;

text-align: right;

font-size: 18px;

box-sizing: border-box;

padding-top: 100px;

padding-left: 50px;

padding-right: 100px;
}

.page3Text2Title{
    
font-size: 30px;
}

.page3Img2{
    
width: 450px;
    
height: 325px;
    
float: left;
    
box-sizing: border-box;
    
padding: 30px 20px;
}

.page3Img1{

width: 450px;

height: 325px;

float: left;

box-sizing: border-box;

padding: 30px 20px;
}

.page3Text1{

width: 750px;

height: 325px;

float: left;

text-align: left;

font-size: 18px;

box-sizing: border-box;

padding-top: 100px;

padding-left: 100px;

padding-right: 50px;
}

.page3Text1Title{
    
font-size: 30px;
}

.page3Text2{

width: 750px;

height: 325px;

float: left;

text-align: right;

font-size: 18px;

box-sizing: border-box;

padding-top: 100px;

padding-left: 50px;

padding-right: 100px;
}

.page3Text2Title{
    
font-size: 30px;
}

.page3Img2{
    
width: 450px;
    
height: 325px;
    
float: left;
    
box-sizing: border-box;
    
padding: 30px 20px;
}

.page3Img3{

    width: 450px;
    
    height: 325px;
    
    float: left;
    
    box-sizing: border-box;
    
    padding: 30px 20px;
    }
    
.page3Text4{
    
    width: 750px;
    
    height: 325px;
    
    float: left;
    
    text-align: left;
    
    font-size: 18px;
    
    box-sizing: border-box;
    
    padding-top: 100px;
    
    padding-left: 100px;
    
    padding-right: 50px;
}
    
.page3Text4Title{
        
    font-size: 30px;
}
    
.page3Text3{
    
    width: 750px;
    
    height: 325px;
    
    float: left;
    
    text-align: right;
    
    font-size: 18px;
    
    box-sizing: border-box;
    
    padding-top: 100px;
    
    padding-left: 50px;
    
    padding-right: 100px;
}
    
.page3Text3Title{
        
    font-size: 30px;
}
    
.page3Img4{
        
    width: 450px;
        
    height: 325px;
        
    float: left;
        
    box-sizing: border-box;
        
    padding: 30px 20px;
}

.section{
    text-align: center;
    min-width: 1366px;
    min-height: 768px;
}

.page3{
    display: flex;
    align-content: center;
}


.page4Container{
    height: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page4CenterImg{
    
width: 400px;
    
height: 400px;
}

.page4Img1Container{
    width: 250px;
    height: 120px;
    position: relative;
    bottom: 160px;
    left: 230px;
}

.page4Img1Text{

font-size: 50px;

margin-top: 40px;
}

.page4Img1{

float: right;
}

.page4Img2Container{
    width: 250px;
    height: 120px;
    position: relative;
    top: 110px;
    left: 60px;
}

.page4Img2Text{
    font-size: 50px;
    margin-top: 40px;
}

.page4Img2{

float: right;
}

.page4Img3Container{
    width: 250px;
    height: 120px;
    position: relative;
    bottom: 130px;
    right: 40px;
}

.page4Img3Text{
    font-size: 50px;
    margin-top: 40px;
}

.page4Img3{

float: left;
}

.page4Img4Container{
    width: 280px;
    height: 120px;
    position: relative;
    top: 160px;
    right: 200px;
}

.page4Img4Text{
    font-size: 50px;
    margin-top: 40px;
}

.page4Img4{

float: left;
}

.page4Img{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: white;
}