*{
    padding:0px;
    margin:0;
}
body{ 
    color:#fff; 
    font-family:"Microsoft Yahei"; 
    text-align:center;
}

.page3Header{
    font-size: 3em;
    margin-bottom: 1em;
}

.page3Container{
    width: 1200px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
}

.page3Img1{

width: 450px;

height: 325px;

float: left;

box-sizing: border-box;

padding: 30px 20px;
}

.page3Text1{

width: 750px;

height: 325px;

float: left;

text-align: left;

font-size: 18px;

box-sizing: border-box;

padding-top: 100px;

padding-left: 100px;

padding-right: 50px;
}

.page3Text1Title{
    
font-size: 30px;
}

.page3Text2{

width: 750px;

height: 325px;

float: left;

text-align: right;

font-size: 18px;

box-sizing: border-box;

padding-top: 100px;

padding-left: 50px;

padding-right: 100px;
}

.page3Text2Title{
    
font-size: 30px;
}

.page3Img2{
    
width: 450px;
    
height: 325px;
    
float: left;
    
box-sizing: border-box;
    
padding: 30px 20px;
}

.page3Img1{

width: 450px;

height: 325px;

float: left;

box-sizing: border-box;

padding: 30px 20px;
}

.page3Text1{

width: 750px;

height: 325px;

float: left;

text-align: left;

font-size: 18px;

box-sizing: border-box;

padding-top: 100px;

padding-left: 100px;

padding-right: 50px;
}

.page3Text1Title{
    
font-size: 30px;
}

.page3Text2{

width: 750px;

height: 325px;

float: left;

text-align: right;

font-size: 18px;

box-sizing: border-box;

padding-top: 100px;

padding-left: 50px;

padding-right: 100px;
}

.page3Text2Title{
    
font-size: 30px;
}

.page3Img2{
    
width: 450px;
    
height: 325px;
    
float: left;
    
box-sizing: border-box;
    
padding: 30px 20px;
}

.page3Img3{

    width: 450px;
    
    height: 325px;
    
    float: left;
    
    box-sizing: border-box;
    
    padding: 30px 20px;
    }
    
.page3Text4{
    
    width: 750px;
    
    height: 325px;
    
    float: left;
    
    text-align: left;
    
    font-size: 18px;
    
    box-sizing: border-box;
    
    padding-top: 100px;
    
    padding-left: 100px;
    
    padding-right: 50px;
}
    
.page3Text4Title{
        
    font-size: 30px;
}
    
.page3Text3{
    
    width: 750px;
    
    height: 325px;
    
    float: left;
    
    text-align: right;
    
    font-size: 18px;
    
    box-sizing: border-box;
    
    padding-top: 100px;
    
    padding-left: 50px;
    
    padding-right: 100px;
}
    
.page3Text3Title{
        
    font-size: 30px;
}
    
.page3Img4{
        
    width: 450px;
        
    height: 325px;
        
    float: left;
        
    box-sizing: border-box;
        
    padding: 30px 20px;
}

.section{
    text-align: center;
    min-width: 1366px;
    min-height: 768px;
}

.page3{
    display: flex;
    align-content: center;
}


.page4Container{
    height: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page4CenterImg{
    
width: 400px;
    
height: 400px;
}

.page4Img1Container{
    width: 250px;
    height: 120px;
    position: relative;
    bottom: 160px;
    left: 230px;
}

.page4Img1Text{

font-size: 50px;

margin-top: 40px;
}

.page4Img1{

float: right;
}

.page4Img2Container{
    width: 250px;
    height: 120px;
    position: relative;
    top: 110px;
    left: 60px;
}

.page4Img2Text{
    font-size: 50px;
    margin-top: 40px;
}

.page4Img2{

float: right;
}

.page4Img3Container{
    width: 250px;
    height: 120px;
    position: relative;
    bottom: 130px;
    right: 40px;
}

.page4Img3Text{
    font-size: 50px;
    margin-top: 40px;
}

.page4Img3{

float: left;
}

.page4Img4Container{
    width: 280px;
    height: 120px;
    position: relative;
    top: 160px;
    right: 200px;
}

.page4Img4Text{
    font-size: 50px;
    margin-top: 40px;
}

.page4Img4{

float: left;
}

.page4Img{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: white;
}



.page2Container{width: 1000px; height: 650px; margin-left: auto; margin-right: auto;}
.page2{display: flex; align-content: center;}

.page2span{width: 1000px;height:650px;float: left; box-sizing: border-box;padding: 30px 20px;text-align:left;}
.basicinfo{width: 300px;height:550px;float:left;margin-left:20px; box-sizing: border-box;padding: 30px 20px;text-align:left;}
.otherinfo{width: 580px;height:500px;float: right;margin-right:20px; box-sizing: border-box;padding: 30px 20px;text-align:left;}

.educationbox{margin-bottom:20px;}
.educationText{border:2px solid #FF6699;border-radius:20px}
.awardbox{margin-top:30px;margin-bottom:20px;}
.awardText{border:2px solid #FF6699;border-radius:20px}
.skillText{border:2px solid #FF6699;border-radius:20px}
.skillspan img{margin:30px;width:60px;height:50px}

.infoText{line-high:200%;margin-left:20px;margin-top:20px; }
.avatarimg{margin-left:20px;margin-bottom:20px;}
.infoText p{line-height:25px;font-size:18px;}
.otherinfo h3{width:100px; margin-bottom:15px;font-style:oblique; font-size:22px;background-color:#FF6699;border-radius:20px;}
.educationbox p{text-indent:20px;font-style:oblique;  font-size:18px;}
.awardText p{text-indent:20px;font-style:oblique;  font-size:18px;}

.page5Container{width: 1000px; height:300px; margin-left: auto; margin-right: auto;}
.page5{display: flex; align-content: center;}
.page5span1 img{margin:40px;}
.page5span2 label{margin:25px;visibility:hidden;}
.page5 h3{font-size:36px;margin-bottom:60px;}
.FirstText{border-width:0px; position:relative; width:522px; height:129px;font-family:'æ–¹æ­£å§šä½“ Oblique', 'æ–¹æ­£å§šä½“';font-weight:400; font-style:oblique;  font-size:72px;  color:#FFFFFF;  }
